.o-header-trans {
    background-color: $color-n250;
    position: relative;
    padding: 38px 0 50px;
    display: none;
    @include maxpoint ($tablet) {
        display: block;
    }
    &.with-address {
        display: none;
    }
    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background: url('images/nav/header-trans-bg.png') no-repeat;
        background-size: contain;
        width: 939px;
        height: 370px;
    }
    .o-container {
        position: relative;
        z-index: 3;
        & > .h5 {
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #fff;
            margin-bottom: 24px;
        }
    }
    &-cards {
        &_card {
            width: 360px;
            padding: 0 16.5px;
            &--detail {
                figure {
                    position: relative;
                    height: 227px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    figcaption {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #fff;
                        padding: 11px 16px 13px;
                        width: 193.55px;
                        &::before {
                            content: url('images/ic-arrow-right.svg');
                            right: 16px;
                            position: absolute;
                            top: 20px;
                        }
                        .h5 {
                            font-size: 20px;
                            font-family: $primary-font;
                            text-transform: uppercase;
                            font-size: 29px;
                            line-height: 36.25px;
                            letter-spacing: -0.02em;
                            margin-bottom: 4px;
                        }
                        p {
                            color: $color-t150;
                            font-size: 14px;
                            line-height: 18.2px;
                        }
                    }
                }
            }
        }
    }
}