h1 {
    font-style: normal;
    font-weight: 900;
    line-height: 94.3%;
    // text-transform: uppercase;
    color: #000000;

    @include maxpoint($desktop) {
        font-size: 72px;
        color: $color-p075;
    }
}

h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 110%;
    color: #000000;

    @include maxpoint($desktop) {
        font-size: 50px;
    }
}

h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 110%;
    color: $color-p100;

    @include maxpoint($desktop) {
        font-size: 34px;
        color: #000000;
    }
}

h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;

    @include maxpoint($desktop) {
        font-size: 29px;
        line-height: 36px;
    }
}

h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 120%;
    color: #000000;

    @include maxpoint($desktop) {
        font-size: 29px;
    }
}

h6 {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    color: #000000;

    @include maxpoint($desktop) {
        font-size: 24px;
        line-height: 30px;
    }
}

.h7 {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;

    @include maxpoint($desktop) {
        font-size: 17px;
        line-height: 21px;
    }
}

.title-1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;


    &--bold {
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        font-size: 18px;
        color: $color-p100;

        @include maxpoint($desktop) {
            color: #000000;
        }
    }
}

.title-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    text-transform: capitalize;
    color: #000000;

    &--bold {
        font-weight: bold;
    }
}

.body-1 {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #000000;

    &--yellow {
        color: $color-p100;
    }

    &--bold {
        font-weight: bold;
        line-height: 18px;
    }

    &--bold-yellow {
        font-weight: 900;
        font-size: 14px;
        line-height: 120%;
        color: #FFCC00;
    }
}

.body-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: $color-p100;

    @include maxpoint($desktop) {
        color: #000000;
    }
}

.button {
    font-style: normal;
    font-weight: 900;
    font-size: 9px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.overline {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    font-family: $secondary-font;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.h1, .h2  {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 900;
    // line-height: 94.3%;
    // text-transform: uppercase;
    // line-height: 94.3%;
}

.h3, .h4, .h5, .h6 {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    color: $color-t250;
}

.h1 {
    font-size: 72px;
}
.h2 {
    font-size: 40px;
}
.h4 {
    font-size: 29px;
    font-weight: bold;
}
.h5 {
    font-size: 20px;
}
.h6 {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

p {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
}

.italize {
    font-style: italic;
    font-weight: 300;
}