// Primary
$color-p050: #FFF8DD;
$color-p075: #FFD028;
$color-p100: #F5B335;
$color-p125: #FDB813;
$color-p150: #F18A00;
$color-p200: #262C38;
$color-p250: #000614;

// Neutrals
$color-n000: #FFFFFF;
$color-n150: #D9D9D6;
$color-n200: #2D3340;
$color-n225: #252932;
$color-n250: #252932;

$color-t25: #F7F7F7;
$color-t50: #E7E7E7;
$color-t75: #D7D7D7;
$color-t125: #A7A7A7;
$color-t150: #979797;
$color-t175: #777777;
$color-t200: #575757;
$color-t225: #333333;
$color-t250: #202020;

$color-c150: #92949C;
$color-c175: #71747D;
$color-c200: #53555B;

$color-w150: #9C9892;

$color-footer-bg:  #18191E;
$color-danger: #FF4127;