.o-button {
    padding: 12px 25px;
    border: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: $color-p50;
    border-top-left-radius: 15px;
    span {
        font-family: $primary-font;
        padding-top: 2px;
        color: $color-p40;
        font-size: 12px;
        line-height: 100%;
        font-weight: 700;
    }
    i {
        margin-left: 6.5px;
        @include maxpoint($tablet) {
            margin-left: 6px;
        }
    }
    &.top-left-radius {
        border-radius: 8px 0px 0px 8px;
    }
    
    
    &.ic-front {
        i {
            margin-right: 8px;
            margin-left: 0;
        }
    }
    &.o-button-lg {
        padding: 15.5px;
        justify-content: center;
        span {
            font-size: 14px;
            line-height: 100%;
        }
        i {
            margin-left: 6px;
        }
        
    }
    &.o-button-white {
        background-color: transparent;
        display: flex;
        padding: 0;
        span {
            letter-spacing: -0.02em;
            font-size: 16px;
            line-height: 130%;
            font-weight: normal;
        }
    }
    &.o-button-full {
        width: 100%;
    }
    &.o-button-disabled {
        background: $color-n150;
        cursor: not-allowed;

        span {
            color: $color-n000 !important;
        }

        .ic-person {
            content: url('images/ic-person-white.svg');
        }
    }
    &:disabled {
        background-color: $color-n150;
        cursor: not-allowed;
        span {
            color: #fff;
        }
        .ic-cart{
            content:url('images/ic-cart-white.svg');
        }
    }
    &.o-button-trans {
        background-color: transparent;
        display: flex;
        padding: 15.5px;
        span {
            color: $color-t250;
        }
    }
    &.o-button-bordered {
        border: 1px solid $color-p100;
    }
    &.ic-only {
        border-radius: 4px;
        justify-content: center;
        i {
            margin-left: 0;
        }
        &-point {
            border-radius: 0;
            padding: 12px;
            i {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    &.hide {
        display: none;
    }
}