.c-footer {
    display: flex;
    flex-direction: column;
    color: $color-n000;

    &__main {
        background-color: #241F20;

        @include maxpoint($desktop) {
            padding: 0;
        }

        .o-container {
            display: flex;
            flex-direction: column;
            padding: 40px 24px 32px;
            @include maxpoint($tablet) {
                padding: 0 64px;
            }

            .footer-logo {
                width: 143px;
                height: 83.33px;
                margin: 0;
    
                img {
                    width: 100%;
                    height: 100%;
                }

                @include maxpoint($tablet) {
                    margin: 64px 0 0;
                }
            }

            .footer-content {
                display: flex;
                flex-direction: column-reverse;

                @include maxpoint($tablet) {
                    flex-direction: row;
                    margin: 32px 0 82px;
                }
                @include maxpoint($desktop) {
                    margin: 24px 40px 77px 0;
                }
                .content-left {
                    width: 100%;
    
                    @include maxpoint($desktop) {
                        width: 45%;
                    }
    
                    .footer-desc {
                        margin: 32px 0 0 0;
                        @include maxpoint($tablet) {
                            margin: 0;
                        }
    
                        @include maxpoint($desktop) {
                            margin: 32px 0 0 0;
                            padding-right: 40px;
                            border-right: 1px solid white;
                            border-bottom: none;
                            margin: 0;
                        }

                        .body-1 {
                            color: $color-n000;
                            font-weight: 500;
                            line-height: 120%;
                            font-size: 14px;
                            letter-spacing: unset;
                        }

                        .body-1 + .body-1 {
                            margin: 18px 0 0 0;
                        }
                    }
                }
    
                .content-right {
                    display: flex;
                    flex-direction: column-reverse;
                    padding: 0;
                    border-bottom: 1px solid white;
                    align-self: flex-start;
                    @include maxpoint($tablet) {
                        padding: 0 0 16px 0;
                        margin-left: 16px;
                    }
    
                    @include maxpoint($desktop) {
                        width: 55%;
                        padding: 0 0 0 55px;
                        flex-direction: column;
                        border-bottom: none;
                    }
                    
                    .delivery-contact {
                        display: flex;
                        flex-direction: column;
                        position: relative;

                        .overline {
                            color: $color-n000;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 100%;
                            letter-spacing: 0.35em;
                            text-transform: uppercase;

                            margin: 0 0 32px 36px;
                            padding-left: 10px;
                            
                            @include maxpoint($desktop) {
                                margin: -44px 0 24px 0;
                            }
                        }

                        .overline::before {
                            position: absolute;
                            content: '';
                            width: 24px;
                            height: 24px;
                            background: url("/src/images/footer/actions/max-phone.svg") no-repeat;  
                            // background: url("/src/images/footer/actions/max-phone-white.png") no-repeat;   
                            top: -5px;
                            left: 0;

                            @include maxpoint($desktop) {
                                background: url("/src/images/footer/actions/max-phone.svg") no-repeat;
                                top: -48px;
                                left: -30px;
                            } 
                        }

                        .delivery-numbers {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            a {
                                color: $color-n000;
                            }
                        }
        
                        .delivery-numbers > .number-per-city {
                            width: 50%;
                            margin: 0 0 32px 0;

                            @include maxpoint(768px) {
                                width: 25%;
                            }

                            .body-1 {
                                color: $color-n000;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 120%;
                                letter-spacing: unset;
                            }
                        }

                        .delivery-numbers > .number-per-city > p {
                            margin: 0;
                        }
                    }
                    
                    .delivery-service {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin: 16px 0 32.67px;

                        @include maxpoint(768px) {
                            justify-content: flex-start;
                            margin: 32px 0;
                        }

                        @include maxpoint($tablet) {
                            justify-self: unset;
                            margin: 0;
                        }

                        .delivery-desc {
                            width: 100%;
                            margin: 0;

                            @include maxpoint($desktop) {
                                width: calc(100% - 132px);
                                margin: 0 16px 0 0;
                            }

                            @media (min-width:1024px) and (max-width:1026px) {
                                width: 80%;
                            }
                        }

                        .body-1 {
                            color: $color-n000;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 120%;
                            letter-spacing: unset;
                        }
    
                        .delivery-img {
                            width: 112px;
                            height: 77.05px;
    
                            @include maxpoint($desktop) {
                                width: 116.04px;
                                height: 79.83px;
                            }

                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    &__secondary {
        background-color: $color-pred;
        padding: 28px 0;
        height: 197px;
        @include maxpoint($desktop) {
            height: 72px;
        }


        .o-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 24px;

            @include maxpoint($desktop) {
                padding: 0 64px;
                flex-direction: row;
                align-items: center;
            }

            .links {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                margin: 0 0 21px 0;

                @include maxpoint($desktop) {
                    flex-direction: row;
                    margin: 0;
                }

                .overline {
                    color: $color-n000;
                    text-transform: none;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: unset;
                }
    
                a + a {
                    margin: 19px 0 0 0;
                    
                    @include maxpoint($desktop) {
                        margin: 0 0 0 32px;
                    }
                }
            }

            .links-icon {
                display: flex;
                flex-direction: column;
                
                @include maxpoint($desktop) {
                    flex-direction: row;
                    align-items: center;
                }

                .feedback {
                    display: flex;
                    justify-content: space-between;
                    height: 100%;
                    margin: 0 0 22px 0;

                    @include maxpoint($desktop) {
                        margin: 0 57.2px 0 0;
                    }

                    .overline {
                        margin: 0;
                        color: $color-n000;
                        text-transform: none;

                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 120%;
                        letter-spacing: unset;

                        @include maxpoint($desktop) {
                            margin-right: 17.2px;
                        }
                    }

                    .send-img {
                        width: 21.6px;
                        height: 14.4px;
                        margin-top: 1px;
                    }

                    .send-img > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .social-media {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @include maxpoint($desktop) {
                        justify-content: center;
                    }

                    .overline {
                        margin: 0;
                        color: $color-n000;
                        text-transform: none;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 120%;
                        letter-spacing: unset;

                        @include maxpoint($desktop) {
                            margin: 0 34px 0 0;
                        }
                    }

                    .social-media-links {
                        display: flex;
                        align-items: center;
                    }

                    .social-media-links > li {
                        margin: 0 36px 0 0;
                    }

                    .social-media-links > li:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}