.c-header {
    align-items: center;
    background-color: $color-n250;
    position: relative;
    z-index: 9999;
    height: 100%;
    max-height: 98px;
    display: block;
    position: fixed;
    width: 100%;
    @include maxpoint($tablet) {
        position: relative;
    }
    @include maxpoint($desktop) {
        max-height: 80px;
        padding: 16px 0;
    }
    .o-container {
        height: 100%;
        padding-top: 15px;
        @include maxpoint($desktop) {
            height: unset;
            padding-top: 0;
        }
    }
    .h3 {
        font-family: $primary-font;
        text-transform: uppercase;
        color: $color-p100;
        font-size: 16px;
        line-height: 20px;
        @include maxpoint($desktop) {
            font-size: 29px;
            line-height: 36px;
        }
    }
}

.o-header-title {
    position: relative;
    letter-spacing: -0.01em;
    font-weight: 900;
    font-family: $primary-font;
    line-height: 110%;
    font-style: normal;
    font-size: 50px;
    color: $color-t250;
    &-slant {
        @extend .o-header-title;
        color: #FFFFFF;
        transform: rotate(-5deg);
        position: absolute;
        top: -55px;
        left: 38px;
        padding: 18px 25px;
        background-color: $color-p250;
        .upper-substr {
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.02em;
            font-style: unset;
            position: relative;
            font-family: $secondary-font;
            top: -.8rem;
            @include maxpoint($tablet) {
                top: -1.5rem;
            }
        }
    }
}

.c-top-header {
    min-height: 48px;
    padding: 36px 0 14px;

    @include maxpoint($desktop) {
        padding: 14px 0;
    }

    &__content {
        font-family: Circular Std;
        font-style: normal;
        font-weight: bold;
        display: flex;
        flex-flow: column nowrap;
        color: #7D7871;
        font-size: 14px;
        line-height: 18px;

        @include maxpoint($desktop) {
            flex-flow: row nowrap;
            margin-left: 208px;
            align-items: center;
            font-size: 16px;
            line-height: 130%;
        }

        .font-up {
            font-family: Circular Std;
            font-weight: 900;
            font-size: 16px;
            line-height: 120%;
            color: #000614;

            @include maxpoint($desktop) {
                font-size: 20px;
            }
        }

        .sign-up {
            color: #F18A00;
            font-family: Circular Std;
            font-style: normal;
            font-weight: 900;
            font-size: 15px;
            line-height: 127%;
            display: inline-block;
            margin: 0 12px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: -4px;
                right: 0;
                width: calc(100% + 8px);
                height: 1px;
                background-color: #F18A00;
            }
        }

        .terms-up {
            font-family: Circular Std;
            font-weight: normal;
            font-size: 11px;
            line-height: 14px;
            letter-spacing: -0.02em;
            margin-top: 12px;
            color: #7D7871;

            @include maxpoint($desktop) {
                margin-left: auto;
                margin-top: 0;
            }
        }
    }
}